*{ 
    padding:0; 
    margin:0; 
} 
#nav,.nav{ 
    top: 85%;
    height: 15%; 
    width: 100%; 
    background: blue; 
    opacity: 0.5; 
} 
.fixed{ 
    top: 0%;
    height: 10%; 
    position: fixed; 
    left:0; 
    opacity: 1; 
} 