* {
    padding: 0;
    margin: 0;
}

#nav, .nav {
    font-size: 24px;
    color: white;
    height: 15%;
    width: 100%;
    background: blue;
    opacity: 0.8;
}

.fixed {
    top: 0%;
    position: fixed;
    left: 0;
}